@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
 
h1, a {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 6px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    transition: 0.5s;
}

a:hover {
    color: #fb3;
}

p, label, input[type='submit'] {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

main h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

input:focus, select:focus, button:focus {
    outline: solid #fb3;
}

input[type='submit'] {
    font-weight: bold;
    background: #222;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    border-radius: 6px;
}

input[type='submit']:hover {
    background: #000;
    color: #fb3;
}

button {
    border-radius: 6px;
}

#footer svg {
    font-size: 25px;
}

@media screen and (min-width: 640px) {
    a {
        font-size: 16px;
        line-height: 20px;
        padding: 12px 16px;
    }

    p, label, input[type='submit'] {
        font-size: 16px;
        line-height: 24px;
    }

    #footer svg {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    a {
        font-size: 20px;
        line-height: 28px;
    }

    main h1 {
        font-size: 3rem/* 48px */;
        line-height: 1;     
    }

    p, label, input[type='submit'] {
        font-size: 1.25rem/* 20px */;
        line-height: 1.75rem/* 28px */;
    }

    #footer svg {
        font-size: 40px;
    }
}

